{% extends 'bank/base.html' %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{% url "main" %}">داشبورد</a> <span class="divider">/</span></li>
        <li><a href="#">پرونده</a> <span class="divider">/</span></li>
        <li><a href="{% url "bank:files_list" %}">لیست پرونده</a> <span class="divider">/</span></li>
        <li class="active">{{ file.file_code }}</li>
    </ul>
{% endblock %}
{% block content %}
    <div>
        {% block breadcrumbs %}
            {{ block.super }}
            {% breadcrumb user "users.views.profile" user.username %}
        {% endblock %}
        <div id="overlay"></div>
    </div>

    {%  if file %}
        <div class="row top-summary">
					<div class="col-lg-3 col-md-6">
						<div class="widget green-1 animated fadeInDown">
							<div class="widget-content padding">
{#								<div class="widget-icon">#}
{#									<i class="icon-globe-inv"></i>#}
{#								</div>#}
								<div class="text-box">
									<p class="maindata"><b>اصل مبلغ بدهی</b></p>
									<h2>{{ file.main_deposit }}</h2>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="widget-footer">
								<div class="row">
									<div class="col-sm-12">
{#										<i class="fa fa-caret-up rel-change"></i> <b>39%</b> حجم مصرفی ترافیک#}
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-6">
						<div class="widget darkblue-2 animated fadeInDown">
							<div class="widget-content padding">
								<div class="text-box">
									<p class="maindata"><b>وجه التزام</b></p>
									<h2>{{ file.nc_deposit }}</h2>

									<div class="clearfix"></div>
								</div>
							</div>
							<div class="widget-footer">
								<div class="row">
									<div class="col-sm-12">
{#										<i class="fa fa-caret-down rel-change"></i> <b>11%</b> فروش در ماه جاری#}
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-6">
						<div class="widget orange-4 animated fadeInDown">
							<div class="widget-content padding">
{#								<div class="widget-icon">#}
{#									<i class="fa fa-dollar"></i>#}
{#								</div>#}
								<div class="text-box">
									<p class="maindata"><b>سود</b></p>
									<h2>{{ file.so_deposit }}</h2>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="widget-footer">
								<div class="row">
									<div class="col-sm-12">
{#										<i class="fa fa-caret-down rel-change"></i> <b>7%</b> فروشند گان جدید در بازه تاریخ#}
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-6">
						<div class="widget lightblue-1 animated fadeInDown">
							<div class="widget-content padding">
{#								<div class="widget-icon">#}
{#									<i class="icon-users"></i>#}
{#								</div>#}
								<div class="text-box">
									<p class="maindata"><b>هزینه دادرسی</b></p>
									<h2>{{ file.cost_proceeding }}</h2>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="widget-footer">
								<div class="row">
									<div class="col-sm-12">
{#										<i class="fa fa-caret-up rel-change"></i> <b>6%</b> کاربران اضافه شده جدید#}
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
                </div>
        <div class="row">
            <div class="col-md-12 portlets ui-sortable">
                    <div class="widget">
                        <div class="widget-header">
                            <h2>مشخصات پرونده</h2>
                            <div class="additional-btn">
                                <a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
                                <a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                                <a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
                            </div>
                        </div>
                        <div class="widget-content padding" style="display: block;">
                            <div style="margin-bottom: 10px"><span>شماره پرونده:</span><span>{{ file.file_code }}</span></div>
                            <div style="margin-bottom: 10px"><span>شماره قرارداد:</span><span>{{ file.contract_code }}</span></div>
                            <div style="margin-bottom: 10px"><span>اصل مبلغ بدهی:</span><span>{{ file.main_deposit }}</span></div>
                            <div style="margin-bottom: 10px"><span>وجه التزام:</span><span>{{ file.nc_deposit }}</span></div>
                            <div style="margin-bottom: 10px"><span>شعبه:</span><span>{{ file.branch }}</span></div>
                            <div style="margin-bottom: 10px"><span>شهر:</span><span>{{ file.branch.city }}</span></div>
                        </div>
                    </div>
                </div>
        </div>
    {%  endif %}
    <div class="widget">
        <div class="widget-header">
            <h2>اطلاعات پرونده</h2>
            <div class="additional-btn">
                <a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
                <a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                <a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
            </div>
        </div>
        <div class="widget-content padding">
            <ul id="demo5" class="nav nav-tabs nav-simple">
                <li class="active">
                    <a href="#file_detail" data-toggle="tab">مشخصات پرونده</a>
                </li>
                <li class="">
                    <a href="#demo5-home" data-toggle="tab"> اشخاص حقیقی</a>
                </li>
                <li class="">
                    <a href="#demo5-profile" data-toggle="tab">اشخاص حقوقی</a>
                </li>
                <li class="">
                    <a href="#demo5-dropdown1" data-toggle="tab">وثایق</a>
                </li>
                <li class="">
                    <a href="#demo5-dropdown2" data-toggle="tab">شماره های تماس</a>
                </li>
                <li class="">
                    <a href="#demo5-dropdown3" data-toggle="tab">آدرس</a>
                </li>
                <li class="">
                    <a href="#demo5-dropdown4" data-toggle="tab">اسناد</a>
                </li>
                <li class="">
                    <a href="#demo5-dropdown5" data-toggle="tab">تخصیص</a>
                </li>
                <li class="">
                    <a href="#demo5-dropdown6" data-toggle="tab">تخصیص وکیل</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade active in" id="file_detail">
                    <p style="text-align:justify">
                        <form class="form-horizontal" role="form" action="" method="post">
                          <div class="form-group">
							<label for="input-text" class="col-sm-2 control-label">
                                {{ file_detail.file_code.label }}
                            </label>
							<div class="col-sm-10">
                                {{ file_detail.file_code  }}
							</div>
						  </div>
                          <div class="form-group">
							<label for="input-text" class="col-sm-2 control-label">
                                {{ file_detail.contract_code.label }}
                            </label>
							<div class="col-sm-10">
                                {{ file_detail.contract_code }}
							</div>
						  </div>
                          <div class="form-group">
							<label for="input-text" class="col-sm-2 control-label">
                                {{ file_detail.main_deposit.label }}
                            </label>
							<div class="col-sm-10">
                                {{ file_detail.main_deposit }}
							</div>
						  </div>
                          <div class="form-group">
							<label for="input-text" class="col-sm-2 control-label">{{ file_detail.nc_deposit.label }}</label>
							<div class="col-sm-10">
                                {{ file_detail.nc_deposit }}
							</div>
						  </div>
                          <div class="form-group">
							<label for="input-text" class="col-sm-2 control-label">
                                {{ file_detail.so_deposit.label }}
                            </label>
							<div class="col-sm-10">
                                {{ file_detail.so_deposit }}
							</div>
						  </div>
                          <div class="form-group">
							<label for="input-text" class="col-sm-2 control-label">
                                {{ file_detail.cost_proceeding.label }}
                            </label>
							<div class="col-sm-10">
                                {{ file_detail.cost_proceeding }}
							</div>
						  </div>
                          <div class="form-group">
							<label for="input-text" class="col-sm-2 control-label">
                                {{ file_detail.branch.label }}
                            </label>
							<div class="col-sm-10">
                                {{ file_detail.branch }}
							</div>
						  </div>
                          <div class="form-group">
							<label for="input-text" class="col-sm-2 control-label">
                                {{ file_detail.persian_date_refrence.label }}
                            </label>
							<div class="col-sm-10">
                                {{ file_detail.persian_date_refrence }}
                                <script>
                                    Calendar.setup({
                                        inputField: 'date_input',
                                        button: 'date_btn',
                                        ifFormat: '%Y-%m-%d',
                                        dateType: 'jalali'
                                    });
                                </script>
							</div>
						  </div>

                          <div class="form-group">
							<label for="input-text" class="col-sm-2 control-label">
                                {{ file_detail.status.label }}
                            </label>
							<div class="col-sm-10">
                                {{ file_detail.status }}
							</div>
						  </div>
                          <div class="form-group">
							<label for="input-text" class="col-sm-2 control-label">
                                {{ file_detail.file_type.label }}
                            </label>
							<div class="col-sm-10">
                                {{ file_detail.file_type }}
							</div>
						  </div>
                            <div class="col-lg-12">
                                {% csrf_token %}
                                <input type="submit" value="بروز رسانی" class="btn btn-success">
                            </div>
                            <hr>
                        </form>

                    </p>

                </div> <!-- / .tab-pane -->
                <div class="tab-pane fade" id="demo5-home">
                    <p style="text-align:justify">
                        <form class="form-horizontal" role="form" action="" method="post">
                          <div class="form-group">
                            <label for="input-text" class="col-sm-3 control-label">
                                {{ person_form.person.label }}
                            </label>
                            <div class="col-sm-10">
                                {{ person_form.person  }}
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="input-text" class="col-sm-3 control-label">
                                {{ person_form.relation_type.label }}
                            </label>
                            <div class="col-sm-10">
                                {{ person_form.relation_type }}
                            </div>
                          </div>
                            <div class="col-lg-12">
                                {% csrf_token %}
                                <input type="submit" value="ایجاد" class="btn btn-success">
                            </div>
                            <hr>
                        </form>

                    </p>
                    <div class="row">
					<div class="col-md-12">
						<div class="widget">
							<div class="widget-header transparent">
								<h2><strong>اشخاص</strong> </h2>
								<div class="additional-btn">
									<a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
									<a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
									<a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
								</div>
							</div>
							<div class="widget-content">
								<div class="table-responsive">
										<table data-sortable="" class="table" data-sortable-initialized="true">
										<thead>
											<tr>
												<th>شماره</th>
												<th>ارتباط</th>
												<th>نام شخص</th>
											</tr>
										</thead>

										<tbody>
                                            {% for document in file.file_persons.all %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td><strong>{{ document.relation_type }}</strong></td>
                                                    <td>{{ document.person.name }}</td>
                                                    <td>
                                                        <div class="btn-group btn-group-xs">
                                                            <a href="{% url "bank:delete_person_file" document.id %}" data-toggle="tooltip" title="حذف" class="btn btn-default">
                                                                <i class="fa fa-power-off"></i>
                                                            </a>
{#                                                            <a data-toggle="tooltip" title="" class="btn btn-default" data-original-title="حذف"><i class="fa fa-power-off"></i></a>#}
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>

                </div> <!-- / .tab-pane -->
                <div class="tab-pane fade" id="demo5-profile">
                   <p style="text-align:justify">
                        <form class="form-horizontal" role="form" action="" method="post">
                          <div class="form-group">
                            <label for="input-text" class="col-sm-3 control-label">
                                {{ person_office.office.label }}
                            </label>
                            <div class="col-sm-10">
                                {{ person_office.office }}
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="input-text" class="col-sm-3 control-label">
                                {{ person_office.relation_type.label }}
                            </label>
                            <div class="col-sm-10">
                                {{ person_office.relation_type }}
                            </div>
                          </div>
                            <div class="col-lg-12">
                                {% csrf_token %}
                                <input type="submit" value="ایجاد" class="btn btn-success">
                            </div>
                            <hr>
                        </form>

                    </p>
                    <div class="row">
					<div class="col-md-12">
						<div class="widget">
							<div class="widget-header transparent">
								<h2><strong>اشخاص</strong> </h2>
								<div class="additional-btn">
									<a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
									<a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
									<a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
								</div>
							</div>
							<div class="widget-content">
								<div class="table-responsive">
										<table data-sortable="" class="table" data-sortable-initialized="true">
										<thead>
											<tr>
												<th>ردیف</th>
												<th>ارتباط</th>
												<th>نام شخص</th>
											</tr>
										</thead>

										<tbody>
                                            {% for document in file.related_office.all %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td><strong>{{ document.relation_type }}</strong></td>
                                                    <td>{{ document.office.name }}</td>
                                                    <td>
                                                        <div class="btn-group btn-group-xs">
                                                            <a href="{% url "bank:delete_office_file" document.id %}" data-toggle="tooltip" title="حذف" class="btn btn-default">
                                                                <i class="fa fa-power-off"></i>
                                                            </a>
{#                                                            <a data-toggle="tooltip" title="" class="btn btn-default" data-original-title="حذف"><i class="fa fa-power-off"></i></a>#}
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
                </div> <!-- / .tab-pane -->
                <div class="tab-pane fade" id="demo5-dropdown1">
                    <p style="text-align:justify">
                        <form class="form-horizontal" role="form" action="" method="post">
                          <div class="form-group">
                            <label for="input-text" class="col-sm-3 control-label">
                                {{ assurance_form.assurance_number.label }}
                            </label>
                            <div class="col-sm-10">
                                {{ assurance_form.assurance_number }}
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="input-text" class="col-sm-3 control-label">
                                {{ assurance_form.assurance_value.label }}
                            </label>
                            <div class="col-sm-10">
                                {{ assurance_form.assurance_value }}
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="input-text" class="col-sm-3 control-label">
                                {{ assurance_form.assurance_type.label }}
                            </label>
                            <div class="col-sm-10">
                                {{ assurance_form.assurance_type }}
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="input-text" class="col-sm-3 control-label">
                                {{ assurance_form.description.label }}
                            </label>
                            <div class="col-sm-10">
                                {{ assurance_form.description }}
                            </div>
                          </div>

                            <div class="col-lg-12">
                                {% csrf_token %}
                                <input type="submit" value="ایجاد" class="btn btn-success">
                            </div>
                            <hr>
                        </form>
                    </p>
                    <div class="row">
					<div class="col-md-12">
						<div class="widget">
							<div class="widget-header transparent">
								<h2><strong>وثایق ثبت شده</strong> </h2>
								<div class="additional-btn">
									<a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
									<a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
									<a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
								</div>
							</div>
							<div class="widget-content">
								<div class="table-responsive">
										<table data-sortable="" class="table" data-sortable-initialized="true">
										<thead>
											<tr>
												<th>شماره</th>
												<th>پرونده</th>
												<th>نوع وثیقه</th>
												<th>شماره سند</th>
												<th>مبلغ</th>
												<th>شرح</th>
											</tr>
										</thead>

										<tbody>
                                            {% for assurance in file.assurances.all %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td><strong>{{ assurance.file }}</strong></td>
                                                    <td>{{ assurance.assurance_type }}</td>
                                                    <td>{{ assurance.assurance_number }}</td>
                                                    <td>{{ assurance.assurance_value }}</td>
                                                    <td>{{ assurance.description }}</td>
                                                    <td>
                                                        <div class="btn-group btn-group-xs">
                                                            <a href="{% url "bank:delete_assurance" assurance.id %}" data-toggle="tooltip" title="حذف" class="btn btn-default">
                                                                <i class="fa fa-power-off"></i>
                                                            </a>
{#                                                            <a data-toggle="tooltip" title="" class="btn btn-default" data-original-title="حذف"><i class="fa fa-power-off"></i></a>#}
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>

                </div> <!-- / .tab-pane -->
                <div class="tab-pane fade" id="demo5-dropdown2">
                    <button data-modal="md-newspaper" onclick="on()"  class="btn btn-default btn-sm md-trigger">شماره تلفن جدید</button>
                    <div class="md-modal md-newspaper" id="md-newspaper">
                        <div class="md-content">
                            <h3>ثبت شماره تماس</h3>
                            <div>
                                <p style="text-align:justify">
                                    <form class="form-horizontal" role="form" action="" method="post">
                                      <div class="form-group">
                                        <label for="input-text" class="col-sm-3 control-label">
                                            {{ phone_form.phone_number.label }}
                                        </label>
                                        <div class="col-sm-10">
                                            {{ phone_form.phone_number }}
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <label for="input-text" class="col-sm-3 control-label">
                                            {{ phone_form.phone_owner.label }}
                                        </label>
                                        <div class="col-sm-10">
                                            {{ phone_form.phone_owner }}
                                        </div>
                                      </div>

                                      <div class="form-group">
                                        <label for="input-text" class="col-sm-3 control-label">
                                            {{ phone_form.type.label }}
                                        </label>
                                        <div class="col-sm-10">
                                            {{ phone_form.type }}
                                        </div>
                                      </div>

                                      <div class="form-group">
                                        <label for="input-text" class="col-sm-3 control-label">
                                            {{ phone_form.description.label }}
                                        </label>
                                        <div class="col-sm-10">
                                            {{ phone_form.description }}
                                        </div>
                                      </div>

                                        <div class="col-lg-12">
                                            {% csrf_token %}
                                            <input type="submit" value="ایجاد" onclick="off()" class="btn btn-success">
                                            <a href="#" onclick="off()" class="btn btn-danger md-close">بستن</a>
                                        </div>
                                        <hr>
                                    </form>
                                </p>
                            </div>
                        </div><!-- End div .md-content -->
		            </div>

                    <div class="widget-content">
								<div class="table-responsive">
										<table data-sortable="" class="table" data-sortable-initialized="true">
										<thead>
											<tr>
												<th>شماره</th>
												<th>شماره تلفن</th>

												<th>نام صاحب خط</th>
												<th>شرح</th>
											</tr>
										</thead>

										<tbody>
                                            {% for phone in file.phones.all %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td><strong>{{ phone.phone_number }}</strong></td>
                                                    <td>{{ phone.phone_owner.person.full_name }}</td>
                                                    <td>{{ phone.description }}</td>
                                                    <td>
                                                        <div class="btn-group btn-group-xs">
                                                            <a href="{% url "bank:delete_phone" phone.id %}" data-toggle="tooltip" title="حذف" class="btn btn-default">
                                                                <i class="fa fa-power-off"></i>
                                                            </a>
{#                                                            <a data-toggle="tooltip" title="" class="btn btn-default" data-original-title="حذف"><i class="fa fa-power-off"></i></a>#}
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
										</tbody>
									</table>
								</div>
                    </div>
                </div>
                <div class="tab-pane fade" id="demo5-dropdown3">
                    <p style="text-align:justify">
                        <form class="form-horizontal" role="form" action="" method="post">
                          <div class="form-group">
                            <label for="input-text" class="col-sm-3 control-label">
                                {{ address_form.person_type.label }}
                            </label>
                            <div class="col-sm-10">
                                {{ address_form.person_type }}
                            </div>
                          </div>

                          <div class="form-group">
                            <label for="input-text" class="col-sm-3 control-label">
                                {{ address_form.type.label }}
                            </label>
                            <div class="col-sm-10">
                                {{ address_form.type }}
                            </div>
                          </div>

                          <div class="form-group">
                            <label for="input-text" class="col-sm-3 control-label">
                                {{ address_form.address.label }}
                            </label>
                            <div class="col-sm-10">
                                {{ address_form.address }}
                            </div>
                          </div>

                          <div class="form-group">
                            <label for="input-text" class="col-sm-3 control-label">
                                {{ address_form.description.label }}
                            </label>
                            <div class="col-sm-10">
                                {{ address_form.description }}
                            </div>
                          </div>

                            <div class="col-lg-12">
                                {% csrf_token %}
                                <input type="submit" value="ایجاد" class="btn btn-success">
                            </div>
                            <hr>
                        </form>
                    </p>
                    <div class="widget-content">
								<div class="table-responsive">
										<table data-sortable="" class="table" data-sortable-initialized="true">
										<thead>
											<tr>
												<th>شماره</th>
												<th>پرونده</th>
												<th>نوع پیگیری</th>
												<th>شرح</th>
											</tr>
										</thead>

										<tbody>
                                            {% for address in file.addresses.all %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td>{{ address.person_type }}</td>
                                                    <td>{{ address.type }}</td>
                                                    <td><strong>{{ address.address }}</strong></td>
                                                    <td>{{ address.description }}</td>
                                                    <td>
                                                        <div class="btn-group btn-group-xs">
                                                            <a href="{% url "bank:delete_address" address.id %}" data-toggle="tooltip" title="حذف" class="btn btn-default">
                                                                <i class="fa fa-power-off"></i>
                                                            </a>
{#                                                            <a data-toggle="tooltip" title="" class="btn btn-default" data-original-title="حذف"><i class="fa fa-power-off"></i></a>#}
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
										</tbody>
									</table>
								</div>
							</div>
                </div>
                <div class="tab-pane fade" id="demo5-dropdown4">
                    <button data-modal="md-newspaper1" onclick="on()"  class="btn btn-default btn-sm md-trigger">تصویر جدید</button>
                    <div class="md-modal md-newspaper" id="md-newspaper1">
                        <div class="md-content">
                            <h3>ثبت تصویر سند</h3>
                            <div>
                                <p style="text-align:justify">
                                    <form class="form-horizontal" role="form" action="" enctype="multipart/form-data" method="post">
                                      <div class="form-group">
                                        <label for="input-text" class="col-sm-3 control-label">
                                            {{ document_form.type.label }}
                                        </label>
                                        <div class="col-sm-10">
                                            {{ document_form.type }}
                                        </div>
                                      </div>

                                      <div class="form-group">
                                        <label for="input-text" class="col-sm-3 control-label">
                                            {{ document_form.description.label }}
                                        </label>
                                        <div class="col-sm-10">
                                            {{ document_form.description }}
                                        </div>
                                      </div>

                                      <div class="form-group">
                                        <label for="input-text" class="col-sm-3 control-label">
                                            {{ document_form.image_upload.label }}
                                        </label>
                                        <div class="col-sm-10">
                                            {{ document_form.image_upload }}
                                        </div>
                                      </div>

                                        <div class="col-lg-12">
                                            {% csrf_token %}
                                            <input type="submit" value="ایجاد" onclick="off()" class="btn btn-success">
                                            <a href="#" onclick="off()" class="btn btn-danger md-close">بستن</a>
                                        </div>
                                        <hr>
                                    </form>
                                </p>
                            </div>
                        </div><!-- End div .md-content -->
		            </div>


                    <div class="box-info animated fadeInDown">
                            <div class="gallery-wrap">
                                {% for document in file.documents.all %}
                                     <div class="column">
                                    <div class="inner">
                                        <a class="zooming" href="{{ document.image_upload.url }}" title="{{ document.description }}">
                                        <div class="img-wrap">
                                            <img src="{{ document.image_upload.url }}" alt="Image gallery" title="{{ document.description }}" class="mfp-fade">
                                        </div>
                                        {% if document.type == 'وثیقه' %}
                                            <div class="caption-static success">
                                                {{ document.type }}
                                            </div>
                                        {% endif %}
                                        {% if document.type == 'ضمانی' %}
                                            <div class="caption-static danger">
                                                {{ document.type }}
                                            </div>
                                        {% endif %}
                                        {% if document.type == 'متفرقه' %}
                                            <div class="caption-static warning">
                                                {{ document.type }}
                                            </div>
                                        {% endif %}
                                        </a>
                                    </div>
                                </div>
                                {%  endfor %}
{#                                <div class="column">#}
{#                                    <div class="inner">#}
{#                                        <a class="zooming" href="images/big/img007.jpg" title="عنوان تصویر در اینجا">#}
{#                                        <div class="img-wrap">#}
{#                                            <img src="images/small/img007_small.jpg" alt="Image gallery" title="عنوان تصویر در اینجا" class="mfp-fade">#}
{#                                        </div>#}
{#                                        <div class="caption-static success">#}
{#                                        سلام ! من یک عنوان هستم#}
{#                                        </div>#}
{#                                        </a>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="column">#}
{#                                    <div class="inner">#}
{#                                        <a class="zooming" href="images/big/img008.jpg" title="عنوان تصویر در اینجا">#}
{#                                        <div class="img-wrap">#}
{#                                            <img src="images/small/img008_small.jpg" alt="Image gallery" title="عنوان تصویر در اینجا" class="mfp-fade">#}
{#                                        </div>#}
{#                                        <div class="caption-static warning">#}
{#                                        سلام ! من یک عنوان هستم#}
{#                                        </div>#}
{#                                        </a>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="column">#}
{#                                    <div class="inner">#}
{#                                        <a class="zooming" href="images/big/img009.jpg" title="عنوان تصویر در اینجا">#}
{#                                        <div class="img-wrap">#}
{#                                            <img src="images/small/img009_small.jpg" alt="Image gallery" title="عنوان تصویر در اینجا" class="mfp-fade">#}
{#                                        </div>#}
{#                                        <div class="caption-static danger">#}
{#                                        سلام ! من یک عنوان هستم#}
{#                                        </div>#}
{#                                        </a>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="column">#}
{#                                    <div class="inner">#}
{#                                        <a class="zooming" href="images/big/img010.jpg" title="عنوان تصویر در اینجا">#}
{#                                        <div class="img-wrap">#}
{#                                            <img src="images/small/img010_small.jpg" alt="Image gallery" title="عنوان تصویر در اینجا" class="mfp-fade">#}
{#                                        </div>#}
{#                                        <div class="caption-static info">#}
{#                                        سلام ! من یک عنوان هستم#}
{#                                        </div>#}
{#                                        </a>#}
{#                                    </div>#}
{#                                </div>#}
                            </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="demo5-dropdown5">
                    <div class="widget-content">
                        <button data-modal="md-newspaper5" onclick="on()"  class="btn btn-default btn-sm md-trigger">تخصیص جدید</button>
                         <div class="md-modal md-newspaper" id="md-newspaper5">
                        <div class="md-content">
                            <h3>ثبت دسترسی</h3>
                            <div>
                                <p style="text-align:justify">
                                    <form class="form-horizontal" role="form" action="" method="post">
                                      <div class="form-group">
                                        <label for="input-text" class="col-sm-3 control-label">
                                            {{ employee_file_form.status.label }}
                                        </label>
                                        <div class="col-sm-10">
                                            {{ employee_file_form.status }}
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <label for="input-text" class="col-sm-3 control-label">
                                            {{ employee_file_form.auth_status.label }}
                                        </label>
                                        <div class="col-sm-10">
                                            {{ employee_file_form.auth_status }}
                                        </div>
                                      </div>

                                      <div class="form-group">
                                        <label for="input-text" class="col-sm-3 control-label">
                                            {{ employee_file_form.employee.label }}
                                        </label>
                                        <div class="col-sm-10">
                                            {{ employee_file_form.employee }}
                                        </div>
                                      </div>

                                      <div class="col-lg-12">
                                            {% csrf_token %}
                                            <input type="submit" value="ایجاد" onclick="off()" class="btn btn-success">
                                            <a href="#" onclick="off()" class="btn btn-danger md-close">بستن</a>
                                        </div>
                                        <hr>
                                    </form>
                                </p>
                            </div>
                        </div><!-- End div .md-content -->
		            </div>
                        <div class="table-responsive">
										<table data-sortable="" class="table" data-sortable-initialized="true">
										<thead>
											<tr>
												<th>شماره</th>
												<th>نام کارشناس</th>
												<th>نوع دسترسی کارشناس</th>
												<th>دسترسی کارشناس</th>
												<th>عملیات</th>
											</tr>
										</thead>

										<tbody>
                                            {% for employee in file.employees.all %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td><strong>{{ employee.employee.profile.full_name }}</strong></td>
                                                    <td>{{ employee.auth_status }}</td>
                                                    <td>{{ employee.get_status_display }}</td>
                                                    <td>
                                                        <div class="btn-group btn-group-xs">
{#                                                            <a data-toggle="tooltip" title="خاموش" class="btn btn-default"><i class="fa fa-power-off"></i></a>#}
                                                            <a href="{% url "employee:auth_edit" employee.id %}" data-toggle="tooltip" title="ویرایش" class="btn btn-default"><i class="fa fa-edit"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
										</tbody>
									</table>
								</div>
                    </div>
                </div>
                <div class="tab-pane fade" id="demo5-dropdown6">
                    <div class="widget-content">
                        <button data-modal="md-newspaper6" onclick="on()"  class="btn btn-default btn-sm md-trigger">وکیل جدید</button>
                         <div class="md-modal md-newspaper" id="md-newspaper6">
                         <div class="md-content">
                            <h3>ثبت وکیل</h3>
                            <div>
                                <p style="text-align:justify">
                                    <form class="form-horizontal" role="form" action="" method="post">
                                      <div class="form-group">
                                        <label for="input-text" class="col-sm-3 control-label">
                                            {{ lawyer_form.lawyer.label }}
                                        </label>
                                        <div class="col-sm-10">
                                            {{ lawyer_form.lawyer }}
                                        </div>
                                      </div>
                                      <div class="col-lg-12">
                                            {% csrf_token %}
                                            <input type="submit" value="ایجاد" onclick="off()" class="btn btn-success">
                                            <a href="#" onclick="off()" class="btn btn-danger md-close">بستن</a>
                                        </div>
                                        <hr>
                                    </form>
                                </p>
                            </div>
                        </div><!-- End div .md-content -->
		            </div>
                        <div class="table-responsive">
										<table data-sortable="" class="table" data-sortable-initialized="true">
										<thead>
											<tr>
												<th>شماره</th>
												<th>نام وکیل</th>
												<th>فعال</th>
											</tr>
										</thead>

										<tbody>
                                            {% for lawyer in file.lawyers.all %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td><strong>{{ lawyer.lawyer }}</strong></td>
                                                    <td><strong>
                                                        {% if lawyer.enable %}
                                                            فعال
                                                        {% endif %}
                                                    </strong></td>
                                                </tr>
                                            {% endfor %}
										</tbody>
									</table>
								</div>
                    </div>
                </div>


            </div> <!-- / .tab-content -->

        </div>
						</div>
    <script>
        function on() {
            document.getElementById("overlay").style.display = "block";
        }

        function off() {
            document.getElementById("overlay").style.display = "none";
        }

        function myFunction() {
            document.getElementById("overlay").style.display = "none";
            var x = document.getElementById("snackbar")
            x.style.backgroundColor = "#8e0b0b";
            x.className = "show";
            setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
        }
    </script>

{% endblock %}