{% extends 'bank/base.html' %}

{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
{#            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>#}
                 <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </ul>
    {% endif %}
    <ul>
            <div class="row">
                <div class="col-md-12 portlets ui-sortable">
						<div class="widget">
							<div class="widget-header">
								<h2>جستجو</h2>
								<div class="additional-btn">
									<a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
									<a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
									<a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
								</div>
							</div>
							<div class="widget-content padding" style="display: block;">
                                    <p>شماره قرارداد یا شماره پرونده را وارد نمایید.</p>
                                    <form method="post" action="#" class="navbar-form pull-right">
                                        <div class="input-group">
                                          <input class="form-control" type="text" id="searchBox"  name="q" placeholder="شماره قرارداد یا شماره پرونده یا نام و نام خانوادگی مدیون">
                                          <span class="input-group-btn">
{#                                            <button class="btn btn-default" type="button">جستجو</button>#}
                                              {% csrf_token %}
                                            <input type="submit" class="btn btn-default" value="جستجو" >
                                          </span>
                                        </div><!-- /input-group -->
                                    </form>
							</div>
						</div>
					</div>
            </div>
            <div class="row">
					<div class="col-md-12">
						<div class="widget">
							<div class="widget-header transparent">
								<h2><strong>پرونده ها</strong> </h2>
								<div class="additional-btn">
									<a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
									<a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
									<a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
								</div>
							</div>
							<div class="widget-content">
								<div class="table-responsive">
									<table data-sortable="" class="table" data-sortable-initialized="true">
										<thead>
											<tr>
												<th>کد پرونده</th>
												<th>شماره قرارداد</th>
												<th>نوع قرارداد</th>
												<th>شعبه</th>
												<th>اصل مبلغ بدهی</th>
												<th data-sortable="false">وجه التزام</th>
												<th data-sortable="false">سود</th>
												<th data-sortable="false">هزینه دادرسی</th>
												<th>وضعیت</th>
												<th data-sortable="false">جزییات</th>
											</tr>
										</thead>

										<tbody>
                                            {% for file in files %}
                                                <tr>
                                                    <td><strong>{{ file }}</strong></td>
                                                    <td>{{ file.contract_code }}</td>
                                                    <td>{{ file.file_type }}</td>
                                                    <td>{{ file.branch }}</td>
                                                    <td>{{ file.main_deposit }}</td>
                                                    <td>{{ file.nc_deposit }}</td>
                                                    <td>{{ file.so_deposit }}</td>
                                                    <td>{{ file.cost_proceeding }}</td>
                                                    {% if file.status == 'سر رسید گذشته' %}
                                                        <td><span class="label label-success">{{ file.status }}</span></td>
                                                    {% elif file.status == 'معوق' %}
                                                        <td><span class="label label-warning">{{ file.status }}</span></td>
                                                    {% else %}
                                                        <td><span class="label label-danger">{{ file.status }}</span></td>

                                                    {% endif %}
                                                    <td>
                                                        <div class="btn-group btn-group-xs">
{#                                                            <a data-toggle="tooltip" title="خاموش" class="btn btn-default"><i class="fa fa-power-off"></i></a>#}
                                                            <a href="{% url "bank:file_detail" file.id %}" data-toggle="tooltip" title="جزییات پرونده" class="btn btn-default"><i class="fa fa-edit"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
                {% include "bank/file/pagination.html" with page=files %}
    </ul>
{% endblock %}