{% extends 'bank/base.html' %}

{% block content %}
    <ul>
            <div class="row">
                <div class="col-md-12 portlets ui-sortable">
						<div class="widget">
							<div class="widget-header">
								<h2>جستجو</h2>
								<div class="additional-btn">
									<a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
									<a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
									<a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
								</div>
							</div>
							<div class="widget-content padding" style="display: block;">
								<a href="{% url "bank:new_file" %}" class="btn btn-success">پر.نده جدید</a>
							</div>
						</div>
					</div>
            </div>
            <div class="row">
					<div class="col-md-12">
						<div class="widget">
							<div class="widget-header transparent">
								<h2><strong>پرونده ها</strong> </h2>
								<div class="additional-btn">
									<a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
									<a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
									<a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
								</div>
							</div>
							<div class="widget-content">
								<div class="table-responsive">
									<table data-sortable="" class="table" data-sortable-initialized="true">
										<thead>
											<tr>
												<th>شماره</th>
												<th>کد پرونده</th>
												<th>شماره قرارداد</th>
												<th>شعبه</th>
												<th>اصل مبلغ بدهی</th>
												<th data-sortable="false">میزان خواسته</th>
												<th>وضعیت</th>
												<th data-sortable="false">گزینه ها</th>
											</tr>
										</thead>

										<tbody>
                                            {% for file in files %}
                                                <tr>
                                                    <td>1</td>
                                                    <td><strong>{{ file }}</strong></td>
                                                    <td>{{ file.branch }}</td>
                                                    <td>{{ file.main_deposit }}</td>
                                                    <td>{{ file.end_deposit }}</td>
                                                    <td>123</td>
                                                    <td><span class="label label-success">{{ file.status }}</span></td>
                                                    <td>
                                                        <div class="btn-group btn-group-xs">
                                                            <a data-toggle="tooltip" title="خاموش" class="btn btn-default"><i class="fa fa-power-off"></i></a>
{#                                                            <a href="{% url "bank:edit_branch" area.id %}" data-toggle="tooltip" title="ویرایش" class="btn btn-default"><i class="fa fa-edit"></i></a>#}
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
                {% include "bank/file/pagination.html" with page=files %}
    </ul>
{% endblock %}