{% extends 'bank/base.html' %}
{% block content %}
    <div>

    </div>
     {% if messages %}
<ul class="messages">
    {% for message in messages %}
{#    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>#}
         <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
</ul>
{% endif %}
    <div class="widget">
					<div class="widget-header transparent">
						<h2><strong>پرونده جدید</strong></h2>
						<div class="additional-btn">
							<a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
							<a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
							<a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
						</div>
					</div>
					<div class="widget-content padding">
						<form class="form-horizontal" role="form" action="" method="post">
						  <div class="form-group">
							<label for="input-text" class="col-sm-2 control-label">
                                {{ form.file_code.label }}
                            </label>
							<div class="col-sm-10">
                                {{ form.file_code  }}
							</div>
						  </div>
                          <div class="form-group">
							<label for="input-text" class="col-sm-2 control-label">
                                {{ form.contract_code.label }}
                            </label>
							<div class="col-sm-10">
                                {{ form.contract_code }}
							</div>
						  </div>
                          <div class="form-group">
							<label for="input-text" class="col-sm-2 control-label">{{ form.main_deposit.label }}</label>
							<div class="col-sm-10">
                                {{ form.main_deposit }}
							</div>
						  </div>
                          <div class="form-group">
							<label for="input-text" class="col-sm-2 control-label">{{ form.nc_deposit.label }}</label>
							<div class="col-sm-10">
                                {{ form.nc_deposit }}
							</div>
						  </div>
                          <div class="form-group">
							<label for="input-text" class="col-sm-2 control-label">
                                {{ form.so_deposit.label }}
                            </label>
							<div class="col-sm-10">
                                {{ form.so_deposit }}
							</div>
						  </div>
                          <div class="form-group">
							<label for="input-text" class="col-sm-2 control-label">
                                {{ form.cost_proceeding.label }}
                            </label>
							<div class="col-sm-10">
                                {{ form.cost_proceeding }}
							</div>
						  </div>
                          <div class="form-group">
							<label for="input-text" class="col-sm-2 control-label">
                                {{ form.branch.label }}
                            </label>
							<div class="col-sm-10">
                                {{ form.branch }}
							</div>
						  </div>
                          <div class="form-group">
							<label for="input-text" class="col-sm-2 control-label">
                                {{ form.persian_date_refrence.label }}
                            </label>
							<div class="col-sm-10">
                                {{ form.persian_date_refrence }}
                                <script>
                                    Calendar.setup({
                                        inputField: 'date_input',
                                        button: 'date_btn',
                                        ifFormat: '%Y-%m-%d',
                                        dateType: 'jalali'
                                    });
                                </script>
{#                                  {{ form.persian_date_refrence|jformat }} {# default formatting #}
							</div>
						  </div>
{#                          <div class="form-group">#}
{#							<label for="input-text" class="col-sm-2 control-label">#}
{#                                {{ form.persian_normal_date_refrence.label }}#}
{#                            </label>#}
{#							<div class="col-sm-10">#}
{#                                {{ form.persian_normal_date_refrence }}#}
{#							</div>#}
{#						  </div>#}
                          <div class="form-group">
							<label for="input-text" class="col-sm-2 control-label">
                                {{ form.status.label }}
                            </label>
							<div class="col-sm-10">
                                {{ form.status }}
							</div>
						  </div>
                          <div class="form-group">
							<label for="input-text" class="col-sm-2 control-label">
                                {{ form.file_type.label }}
                            </label>
							<div class="col-sm-10">
                                {{ form.file_type }}
							</div>
						  </div>
                            <div class="col-lg-12">
                                {% csrf_token %}
                                <input type="submit" value="ایجاد" class="btn btn-success">
                            </div>
                            <hr>
						</form>
					</div>

				</div>


{% endblock %}