{% extends 'bank/base.html' %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{% url "main" %}">داشبورد</a> <span class="divider">/</span></li>
        <li><a href="#">تنظیمات</a> <span class="divider">/</span></li>
        <li class="active">سرپرستی ها</li>
    </ul>
{% endblock %}
{% block content %}
    <ul>
            <div class="row">
                <div class="col-md-12 portlets ui-sortable">
						<div class="widget">
							<div class="widget-header">
								<h2>جدید</h2>
								<div class="additional-btn">
									<a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
									<a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
									<a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
								</div>
							</div>
							<div class="widget-content padding" style="display: block;">
								<a href="{% url "bank:new_area" %}" class="btn btn-success">سرپرستی جدید</a>
							</div>
						</div>
					</div>
            </div>
            <div class="row">
					<div class="col-md-12">
						<div class="widget">
							<div class="widget-header transparent">
								<h2><strong>فهرست سرپرستی ها</strong> </h2>
								<div class="additional-btn">
									<a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
									<a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
									<a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
								</div>
							</div>
							<div class="widget-content">
								<div class="table-responsive">
									<table data-sortable="" class="table" data-sortable-initialized="true">
										<thead>
											<tr>
												<th>شماره</th>
												<th>نام کامل</th>
												<th>تعداد شعبات</th>
												<th>وضعیت</th>
												<th data-sortable="false">گزینه ها</th>
											</tr>
										</thead>

										<tbody>
                                            {% for area in areas %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td><strong>{{ area }}</strong></td>
                                                    <td>{{ area.branches.count }}</td>
                                                    <td>
                                                        {%  if area.status %}
                                                            <span class="label label-success">
                                                            فعال
                                                            </span>
                                                         {%  else %}
                                                            <span class="label label-danger">
                                                            غیرفعال
                                                            </span>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        <div class="btn-group btn-group-xs">
                                                            <a href="{% url "bank:edit_area" area.id %}" data-toggle="tooltip" title="ویرایش" class="btn btn-default"><i class="fa fa-edit"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
            <div class="row">
					<div class="col-md-12 portlets ui-sortable">
						<div class="widget">
							<div class="widget-header transparent">
								<h2><strong>نموداربه تفکیک سرپرستی</strong></h2>
								<div class="additional-btn">
									<a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
									<a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
									<a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
								</div>
							</div>
							<div class="widget-content">
                                <script>
                                $(document).ready(function(){
                                    var endpoint = '/api/report/area/'
                                    var defaultData = []
                                    var labels = [];
                                    $.ajax({
                                        method: "GET",
                                        url: endpoint,
                                        success: function(data){
                                            labels = data.labels
                                            defaultData = data.default
                                            setChart()
                                        },
                                        error: function(error_data){
                                            console.log("error")
                                            console.log(error_data)
                                        }
                                    })

                                    function setChart(){
                                        var ctx = document.getElementById("myChart");

                                        var myChart= new Chart(ctx, {
                                        type: 'bar',
                                        data: {
                                            labels: labels,
                                            datasets: [{
                                                label: 'تعداد پرونده های ارسالی',
                                                data: defaultData,
                                                backgroundColor: [
                                                    'rgba(255, 99, 132, 1)',
                                                    'rgba(255, 99, 132, 1)',
                                                    'rgba(255, 99, 132, 1)',
                                                    'rgba(255, 99, 132, 1)',
                                                    'rgba(255, 99, 132, 1)',
                                                    'rgba(255, 99, 132, 1)',
                                                    'rgba(255, 99, 132, 1)',
                                                    'rgba(255, 99, 132, 1)',
                                                    'rgba(255, 99, 132, 1)',
                                                    'rgba(255, 99, 132, 1)',
                                                    'rgba(255, 99, 132, 1)',
                                                    'rgba(255, 99, 132, 1)',
                                                    'rgba(255, 99, 132, 1)',
                                                    'rgba(255, 99, 132, 1)',
                                                    'rgba(255, 99, 132, 1)',
                                                    'rgba(255, 99, 132, 1)',
                                                    'rgba(255, 99, 132, 1)',
                                                    'rgba(255, 99, 132, 1)',
                                                    'rgba(255, 99, 132, 1)',
                                                    'rgba(255, 99, 132, 1)',
                                                    'rgba(255, 99, 132, 1)',
                                                    'rgba(54, 162, 235, 1)',
                                                    'rgba(255, 206, 86, 1)',
                                                    'rgba(75, 192, 192, 1)',
                                                    'rgba(153, 102, 255, 1)',
                                                    'rgba(255, 159, 64, 1)'
                                                ],
                                                borderColor: [
                                                    'rgba(255,99,132,1)',
                                                    'rgba(255,99,132,1)',
                                                    'rgba(255,99,132,1)',
                                                    'rgba(255,99,132,1)',
                                                    'rgba(255,99,132,1)',
                                                    'rgba(255,99,132,1)',
                                                    'rgba(255,99,132,1)',
                                                    'rgba(255,99,132,1)',
                                                    'rgba(255,99,132,1)',
                                                    'rgba(255,99,132,1)',
                                                    'rgba(255,99,132,1)',
                                                    'rgba(255,99,132,1)',
                                                    'rgba(255,99,132,1)',
                                                    'rgba(255,99,132,1)',
                                                    'rgba(255,99,132,1)',
                                                    'rgba(255,99,132,1)',
                                                    'rgba(255,99,132,1)',
                                                    'rgba(255,99,132,1)',
                                                    'rgba(255,99,132,1)',
                                                    'rgba(255,99,132,1)',
                                                    'rgba(54, 162, 235, 1)',
                                                    'rgba(255, 206, 86, 1)',
                                                    'rgba(75, 192, 192, 1)',
                                                    'rgba(153, 102, 255, 1)',
                                                    'rgba(255, 159, 64, 1)'
                                                ],
                                                borderWidth: 1
                                            }]
                                        },
                                        options: {
                                            scales: {
                                                yAxes: [{
                                                    ticks: {
                                                        beginAtZero:true
                                                    }
                                                }]
                                            }
                                        }
                                    });
                                    }
                                })

                                </script>
                                <div class="col-lg-12 portlets ui-sortable">
                                    <div id="website-statistics1" class="widget">
                                        <canvas id="myChart" ></canvas>
                                    </div>
                                </div>
                            </div>
						</div>
					</div>
				</div>
    </ul>
{% endblock %}