{% extends 'bank/base.html' %}
{%  load staticfiles %}
{% block content %}
    <div>

    </div>
    <div class="widget">
					<div class="widget-header transparent">
						<h2><strong>{{ bank.name }}</strong></h2>
						<div class="additional-btn">
							<a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
							<a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
							<a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
						</div>
					</div>
					<div class="widget-content padding">
						<form class="form-horizontal" role="form" action="" method="post">
						  <div class="form-group">
							<label for="input-text" class="col-sm-2 control-label">
                                {{ form.name.label }}
                            </label>
							<div class="col-sm-10">
                                {{ form.name  }}
							</div>
						  </div>
                          <div class="form-group">
							<label for="input-text" class="col-sm-2 control-label">
                                {{ form.postal_code.label }}
                            </label>
							<div class="col-sm-10">
                                {{ form.postal_code }}
							</div>
						  </div>
                          <div class="form-group">
							<label for="input-text" class="col-sm-2 control-label">
                                {{ form.bank.label }}
                            </label>
							<div class="col-sm-10">
                                {{ form.bank }}
							</div>
						  </div>
                          <div class="form-group">
							<label for="input-text" class="col-sm-2 control-label">{{ form.state.label }}</label>
							<div class="col-sm-10">
                                {{ form.state }}
							</div>
						  </div>
                          <div class="form-group">
							<label for="input-text" class="col-sm-2 control-label">{{ form.address.label }}</label>
							<div class="col-sm-10">
                                {{ form.address }}
							</div>
						  </div>
                          <div class="form-group">
							<label for="input-text" class="col-sm-2 control-label">
                                {{ form.status.label }}
                            </label>
							<div class="col-sm-10">
                                {{ form.status }}
							</div>
						  </div>
                            <div class="col-lg-12">
                                {% csrf_token %}
                                <input type="submit" value="بروزرسانی" class="btn btn-success">
                            </div>
                            <hr>
						</form>
					</div>

				</div>
{% endblock %}