{% extends 'bank/base.html' %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{% url "main" %}">داشبورد</a> <span class="divider">/</span></li>
        <li><a href="#">تنظیمات</a> <span class="divider">/</span></li>
        <li class="active">بانکها</li>
    </ul>
{% endblock %}
{% block content %}
    <ul>
        {% if banks %}
            <div class="row">
                <div class="col-md-12 portlets ui-sortable">
						<div class="widget">
							<div class="widget-header">
								<h2>جدید</h2>
								<div class="additional-btn">
									<a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
									<a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
									<a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
								</div>
							</div>
							<div class="widget-content padding" style="display: block;">
								<a href="{% url "bank:new_bank" %}" class="btn btn-success">بانک جدید</a>
							</div>
						</div>
					</div>
            </div>
            <div class="row">
					<div class="col-md-12">
						<div class="widget">
							<div class="widget-header transparent">
								<h2><strong>فهرست بانکها</strong> </h2>
								<div class="additional-btn">
									<a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
									<a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
									<a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
								</div>
							</div>
							<div class="widget-content">
								<div class="table-responsive">
									<table data-sortable="" class="table" data-sortable-initialized="true">
										<thead>
											<tr>
												<th>شماره</th>
												<th>نام کامل</th>
												<th>پرونده های ارسالی</th>
												<th>تعداد مناطق</th>
												<th>تعداد شعبات</th>
												<th data-sortable="false">مرتب سازی</th>
												<th>وضعیت</th>
												<th data-sortable="false">گزینه ها</th>
											</tr>
										</thead>

										<tbody>
                                            {% for bank in banks %}
                                                <tr>
                                                    <td>1</td>
                                                    <td><strong>{{ bank }}</strong></td>
                                                    <td>50</td><td>19</td><td>65</td>
                                                    <td>123</td><td><span class="label label-success">فعال</span></td>
                                                    <td>
                                                        <div class="btn-group btn-group-xs">
                                                            <a data-toggle="tooltip" title="خاموش" class="btn btn-default"><i class="fa fa-power-off"></i></a>
                                                            <a href="{% url "bank:edit_bank" bank.id %}" data-toggle="tooltip" title="ویرایش" class="btn btn-default"><i class="fa fa-edit"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
										</tbody>
									</table>
								</div>

							</div>
						</div>
					</div>

				</div>
        {% endif %}
    </ul>
{% endblock %}