{% extends 'bank/base.html' %}
{%  load staticfiles %}
{% block content %}
    <script>
    $(document).ready(function(){
        var endpoint = '/api/user/daily/'
        var defaultData = []
        var labels = [];
        $.ajax({
            method: "GET",
            url: endpoint,
            success: function(data){
                labels = data.labels
                defaultData = data.default
                setChart()
            },
            error: function(error_data){
                console.log("error")
                console.log(error_data)
            }
        })

        var endpoint_file = '/api/user/daily/value/'
{#        var defaultData_file = []#}
{#        var labels_file = [];#}
        $.ajax({
            method: "GET",
            url: endpoint_file,
            success: function(data){
                labels = data.labels
                defaultData = data.default
                setChart2()
            },
            error: function(error_data){
                console.log("error")
                console.log(error_data)
            }
        })

        function setChart(){
            var ctx = document.getElementById("myChart");
            var ctx2 = document.getElementById("myChart2");
            var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: 'آمار روزانه پیگیری ها',
                    data: defaultData,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });

            var myChart2 = new Chart(ctx2, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'آمار روزانه وصولی ها',
                    data: defaultData,
                    backgroundColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(255,99,132,1)',
                        'rgba(255,99,132,1)',
                        'rgba(255,99,132,1)',
                        'rgba(255,99,132,1)',
                        'rgba(255,99,132,1)',
                        'rgba(255,99,132,1)',
                        'rgba(255,99,132,1)',
                        'rgba(255,99,132,1)',
                        'rgba(255,99,132,1)',
                        'rgba(255,99,132,1)',
                        'rgba(255,99,132,1)',
                        'rgba(255,99,132,1)',
                        'rgba(255,99,132,1)',
                        'rgba(255,99,132,1)',
                        'rgba(255,99,132,1)',
                        'rgba(255,99,132,1)',
                        'rgba(255,99,132,1)',
                        'rgba(255,99,132,1)',
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
        }
        function setChart2(){
            var ctx2 = document.getElementById("myChart2");

            var myChart2 = new Chart(ctx2, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'آمار روزانه وصولی ها',
                    data: defaultData,
                    backgroundColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(255,99,132,1)',
                        'rgba(255,99,132,1)',
                        'rgba(255,99,132,1)',
                        'rgba(255,99,132,1)',
                        'rgba(255,99,132,1)',
                        'rgba(255,99,132,1)',
                        'rgba(255,99,132,1)',
                        'rgba(255,99,132,1)',
                        'rgba(255,99,132,1)',
                        'rgba(255,99,132,1)',
                        'rgba(255,99,132,1)',
                        'rgba(255,99,132,1)',
                        'rgba(255,99,132,1)',
                        'rgba(255,99,132,1)',
                        'rgba(255,99,132,1)',
                        'rgba(255,99,132,1)',
                        'rgba(255,99,132,1)',
                        'rgba(255,99,132,1)',
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
        }
    })
    // var ctx = document.getElementById("myChart");
    {#{% endblock %}#}
    </script>
<div class="row top-summary">
    <div class="col-lg-3 col-md-6">
        <div class="widget green-1 animated fadeInDown">
            <div class="widget-content padding">

                <div class="text-box">
                    <p class="maindata"><b>تعداد پرونده ها</b></p>
                    <h2><span class="animate-number" data-value="25153" data-duration="3000">25,153</span></h2>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="widget-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <i class="fa fa-caret-up rel-change"></i> <b>39%</b>
                        کل پرونده ها
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="widget darkblue-2 animated fadeInDown">
            <div class="widget-content padding">
                <div class="text-box">
                    <p class="maindata"><b>مبلغ پرونده ها</b></p>
                    <h2><span class="animate-number" data-value="6399" data-duration="3000">6,399</span></h2>

                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="widget-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <i class="fa fa-caret-down rel-change"></i> <b>11%</b> وصول در ماه جاری
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="widget orange-4 animated fadeInDown">
            <div class="widget-content padding">
                <div class="text-box">
                    <p class="maindata"><b>تعداد پرونده های وصولی</b></p>
                    <h2>$<span class="animate-number" data-value="70389" data-duration="3000">70,389</span></h2>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="widget-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <i class="fa fa-caret-down rel-change"></i> <b>7%</b>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="widget lightblue-1 animated fadeInDown">
            <div class="widget-content padding">
                <div class="text-box">
                    <p class="maindata"><b>جمع مبلغ وصولی</b></p>
                    <h2><span class="animate-number" data-value="18648" data-duration="3000">18,648</span></h2>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="widget-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <i class="fa fa-caret-up rel-change"></i> <b>6%</b> در ماه جاری
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!-- End of info box -->
<div class="row">
    <div class="col-lg-12 portlets ui-sortable">
        <div id="website-statistics1" class="widget">
            <canvas id="myChart" width="200" height="50"></canvas>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-8 portlets ui-sortable">
        <div id="website-statistics1" class="widget">
            <canvas id="myChart2" width="200" height="87"></canvas>
        </div>
    </div>
    <div class="col-lg-4 portlets ui-sortable">
        <div id="todo-app" class="widget">
            <div class="widget-header centered">
                <div class="left-btn"><a class="btn btn-sm btn-default add-todo"><i class="fa fa-plus"></i></a></div>
                <h2>لیست رویدادها</h2>
                <div class="additional-btn">
                    <a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
                    <a href="#" class="widget-popout hidden tt" title="Pop Out/In"><i class="icon-publish"></i></a>
                    <a href="#" class="widget-maximize hidden"><i class="icon-resize-full-1"></i></a>
                    <a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                    <a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
                </div>
            </div>
            <div class="widget-content padding-sm">
                <ul class="todo-list ui-sortable">
                    {% for reminder in reminders %}
                        <li>
                        <span class="todo-item editable editable-click">
                            {{ reminder.detail }}
                        </span>

                    </li>
                    {% endfor %}

                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
					<div class="col-md-12">
						<div class="widget">
							<div class="widget-header transparent">
								<h2><strong>فهرست آخرین پرونده ها</strong> </h2>
								<div class="additional-btn">
									<a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
									<a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
									<a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
								</div>
							</div>
							<div class="widget-content">
								<div class="table-responsive">
									<table data-sortable="" class="table" data-sortable-initialized="true">
										<thead>
											<tr>
												<th>شماره</th>
												<th>شماره پرونده</th>
												<th>اصل مبلغ بدهی</th>
												<th>مدیونین حقیقی</th>
												<th>مدیونین حقوقی</th>
												<th data-sortable="false">سرفصل</th>
												<th>وضعیت</th>
												<th data-sortable="false">گزینه ها</th>
											</tr>
										</thead>

										<tbody>
                                                {%  for file in files %}
                                                    <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td><strong>{{ file.file.file_code }}</strong></td>
                                                    <td>{{ file.file.main_deposit }}</td>
                                                    <td>{{ file.file.person_list }}</td>
                                                    <td>{{ file.file.offices }}</td>
                                                    {% if file.file.status == 'سر رسید گذشته' %}
                                                        <td><span class="label label-success">{{ file.file.status }}</span></td>
                                                    {% elif file.file.status == 'معوق' %}
                                                        <td><span class="label label-warning">{{ file.file.status }}</span></td>
                                                    {% else %}
                                                        <td><span class="label label-danger">{{ file.file.status }}</span></td>

                                                    {% endif %}
                                                    {% if file.file.assurance == 'خرد' %}
                                                        <td><span class="label label-success">{{ file.file.assurance }}</span></td>
                                                    {% elif file.file.assurance == 'متوسط' %}
                                                        <td><span class="label label-info">{{ file.file.assurance }}</span></td>
                                                    {% else %}
                                                        <td><span class="label label-danger">{{ file.file.assurance }}</span></td>

                                                    {% endif %}
                                                    <td>
                                                        <div class="btn-group btn-group-xs">
                                                            <a href="{% url "employee:employee_file_detail" file.file.id %}" data-toggle="tooltip" title="مشاهده پرونده" class="btn btn-default"><i class="fa fa-edit"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
{% endblock %}