{% extends 'bank/base.html' %}

{% block content %}
    <div>

    </div>

    {%  if file %}
        <div class="row top-summary">
					<div class="col-lg-3 col-md-6">
						<div class="widget green-1 animated fadeInDown">
							<div class="widget-content padding">
{#								<div class="widget-icon">#}
{#									<i class="icon-globe-inv"></i>#}
{#								</div>#}
								<div class="text-box">
									<p class="maindata"><b>اصل مبلغ بدهی</b></p>
									<h2><span class="animate-number" data-value="{{ file.main_deposit }}" data-duration="3000">{{ file.main_deposit }}</span></h2>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="widget-footer">
								<div class="row">
									<div class="col-sm-12">
{#										<i class="fa fa-caret-up rel-change"></i> <b>39%</b> حجم مصرفی ترافیک#}
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-6">
						<div class="widget darkblue-2 animated fadeInDown">
							<div class="widget-content padding">
								<div class="text-box">
									<p class="maindata"><b>وجه التزام</b></p>
									<h2><span class="animate-number" data-value="{{ file.nc_deposit }}" data-duration="3000">6,399</span></h2>

									<div class="clearfix"></div>
								</div>
							</div>
							<div class="widget-footer">
								<div class="row">
									<div class="col-sm-12">
{#										<i class="fa fa-caret-down rel-change"></i> <b>11%</b> فروش در ماه جاری#}
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-6">
						<div class="widget orange-4 animated fadeInDown">
							<div class="widget-content padding">
{#								<div class="widget-icon">#}
{#									<i class="fa fa-dollar"></i>#}
{#								</div>#}
								<div class="text-box">
									<p class="maindata"><b>سود</b></p>
									<h2><span class="animate-number" data-value="{{ file.so_deposit }}" data-duration="3000">70,389</span></h2>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="widget-footer">
								<div class="row">
									<div class="col-sm-12">
{#										<i class="fa fa-caret-down rel-change"></i> <b>7%</b> فروشند گان جدید در بازه تاریخ#}
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-6">
						<div class="widget lightblue-1 animated fadeInDown">
							<div class="widget-content padding">
{#								<div class="widget-icon">#}
{#									<i class="icon-users"></i>#}
{#								</div>#}
								<div class="text-box">
									<p class="maindata"><b>هزینه دادرسی</b></p>
									<h2><span class="animate-number" data-value="{{ file.cost_proceeding }}" data-duration="3000">18,648</span></h2>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="widget-footer">
								<div class="row">
									<div class="col-sm-12">
{#										<i class="fa fa-caret-up rel-change"></i> <b>6%</b> کاربران اضافه شده جدید#}
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
                </div>
        <div class="row">
            <div class="col-md-12 portlets ui-sortable">
                    <div class="widget">
                        <div class="widget-header">
                            <h2>مشخصات پرونده</h2>
                            <div class="additional-btn">
                                <a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
                                <a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                                <a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
                            </div>
                        </div>
                        <div class="widget-content padding" style="display: block;">
                            <div style="margin-bottom: 10px"><span>شماره پرونده:</span><span>{{ file.file_code }}</span></div>
                            <div style="margin-bottom: 10px"><span>شماره قرارداد:</span><span>{{ file.contract_code }}</span></div>
                            <div style="margin-bottom: 10px"><span>اصل مبلغ بدهی:</span><span>{{ file.main_deposit }}</span></div>
                            <div style="margin-bottom: 10px"><span>وجه التزام:</span><span>{{ file.nc_deposit }}</span></div>
                            <div style="margin-bottom: 10px"><span>شعبه:</span><span>{{ file.branch }}</span></div>
                            <div style="margin-bottom: 10px"><span>شهر:</span><span>{{ file.branch.city }}</span></div>
                        </div>
                    </div>
                </div>
        </div>
    {%  endif %}
    <div class="widget">
        <div class="widget-header">
            <h2>اطلاعات پرونده</h2>
            <div class="additional-btn">
                <a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
                <a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                <a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
            </div>
        </div>
        <div class="widget-content padding">
            <ul id="demo5" class="nav nav-tabs nav-simple">
                <li class="active">
                    <a href="#demo5-home" data-toggle="tab"> اشخاص حقیقی</a>
                </li>
                <li class="">
                    <a href="#demo5-profile" data-toggle="tab">اشخاص حقوقی</a>
                </li>
                <li class="">
                    <a href="#demo5-dropdown1" data-toggle="tab">وثایق</a>
                </li>
                <li class="">
                    <a href="#demo5-dropdown2" data-toggle="tab">ثبت پیگیری</a>
                </li>
                <li class="">
                    <a href="#demo5-dropdown3" data-toggle="tab">شماره های تماس</a>
                </li>
                <li class="">
                    <a href="#demo5-dropdown4" data-toggle="tab">آدرس</a>
                </li>
                <li class="">
                    <a href="#demo5-dropdown5" data-toggle="tab">اسناد</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade active in" id="demo5-home">
                    <div class="row">
					<div class="col-md-12">
						<div class="widget">
							<div class="widget-header transparent">
								<div class="additional-btn">
									<a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
									<a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
									<a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
								</div>
							</div>
							<div class="widget-content">
								<div class="table-responsive">
										<table data-sortable="" class="table" data-sortable-initialized="true">
										<thead>
											<tr>
												<th>شماره</th>
												<th>ارتباط</th>
												<th>نام شخص</th>
											</tr>
										</thead>

										<tbody>
                                            {% for document in file.file_persons.all %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td><strong>{{ document.relation_type }}</strong></td>
                                                    <td>{{ document.person.first_name }} {{ document.person.last_name }}</td>
                                                </tr>
                                            {% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>

                </div> <!-- / .tab-pane -->
                <div class="tab-pane fade" id="demo5-profile">
                    <div class="row">
					<div class="col-md-12">
						<div class="widget">
							<div class="widget-header transparent">
								<h2><strong>اشخاص</strong> </h2>
								<div class="additional-btn">
									<a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
									<a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
									<a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
								</div>
							</div>
							<div class="widget-content">
								<div class="table-responsive">
										<table data-sortable="" class="table" data-sortable-initialized="true">
										<thead>
											<tr>
												<th>ردیف</th>
												<th>ارتباط</th>
												<th>نام شخص</th>
											</tr>
										</thead>

										<tbody>
                                            {% for document in file.related_office.all %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td><strong>{{ document.relation_type }}</strong></td>
                                                    <td>{{ document.office.name }}</td>
                                                </tr>
                                            {% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
                </div> <!-- / .tab-pane -->
                <div class="tab-pane fade" id="demo5-dropdown1">
                    <div class="row">
					<div class="col-md-12">
						<div class="widget">
							<div class="widget-header transparent">
								<h2><strong>وثایق ثبت شده</strong> </h2>
								<div class="additional-btn">
									<a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
									<a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
									<a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
								</div>
							</div>
							<div class="widget-content">
								<div class="table-responsive">
										<table data-sortable="" class="table" data-sortable-initialized="true">
										<thead>
											<tr>
												<th>شماره</th>
												<th>پرونده</th>
												<th>نوع وثیقه</th>
												<th>شماره سند</th>
												<th>مبلغ</th>
												<th>شرح</th>
											</tr>
										</thead>

										<tbody>
                                            {% for assurance in file.assurances.all %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td><strong>{{ assurance.file }}</strong></td>
                                                    <td>{{ assurance.assurance_type }}</td>
                                                    <td>{{ assurance.assurance_number }}</td>
                                                    <td>{{ assurance.assurance_value }}</td>
                                                    <td>{{ assurance.description }}</td>
                                                </tr>
                                            {% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>

                </div> <!-- / .tab-pane -->
                <div class="tab-pane fade" id="demo5-dropdown2">
                    <p style="text-align:justify">
                        <form class="form-horizontal" role="form" action="" method="post">
                          <div class="form-group">
                            <label for="input-text" class="col-sm-3 control-label">
                                {{ follow_form.follow_up_type.label }}
                            </label>
                            <div class="col-sm-10">
                                {{ follow_form.follow_up_type }}
                            </div>
                          </div>

                          <div class="form-group">
                            <label for="input-text" class="col-sm-3 control-label">
                                {{ follow_form.description.label }}
                            </label>
                            <div class="col-sm-10">
                                {{ follow_form.description }}
                            </div>
                          </div>
                            <div class="widget-content">
								<div class="table-responsive">
										<table data-sortable="" class="table" data-sortable-initialized="true">
										<thead>
											<tr>
												<th>شماره</th>
												<th>پرونده</th>
												<th>نوع پیگیری</th>
												<th>شرح</th>
											</tr>
										</thead>

										<tbody>
                                            {% for follow in file.follows.all %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td><strong>{{ follow.file }}</strong></td>
                                                    <td>{{ follow.follow_up_type }}</td>
                                                    <td>{{ follow.description }}</td>
                                                </tr>
                                            {% endfor %}
										</tbody>
									</table>
								</div>
							</div>
                            <div class="col-lg-12">
                                {% csrf_token %}
                                <input type="submit" value="ایجاد" class="btn btn-success">
                            </div>
                            <hr>
                        </form>
                    </p>
                </div> <!-- / .tab-pane -->
                <div class="tab-pane fade" id="demo5-dropdown3">
                    <p style="text-align:justify">
                        <form class="form-horizontal" role="form" action="" method="post">
                          <div class="form-group">
                            <label for="input-text" class="col-sm-3 control-label">
                                {{ phone_form.phone_number.label }}
                            </label>
                            <div class="col-sm-10">
                                {{ phone_form.phone_number }}
                            </div>
                          </div>

                          <div class="form-group">
                            <label for="input-text" class="col-sm-3 control-label">
                                {{ phone_form.person_type.label }}
                            </label>
                            <div class="col-sm-10">
                                {{ phone_form.person_type }}
                            </div>
                          </div>

                          <div class="form-group">
                            <label for="input-text" class="col-sm-3 control-label">
                                {{ phone_form.type.label }}
                            </label>
                            <div class="col-sm-10">
                                {{ phone_form.type }}
                            </div>
                          </div>

                          <div class="form-group">
                            <label for="input-text" class="col-sm-3 control-label">
                                {{ phone_form.description.label }}
                            </label>
                            <div class="col-sm-10">
                                {{ phone_form.description }}
                            </div>
                          </div>

                            <div class="col-lg-12">
                                {% csrf_token %}
                                <input type="submit" value="ایجاد" class="btn btn-success">
                            </div>
                            <hr>
                        </form>
                    </p>
                    <div class="widget-content">
								<div class="table-responsive">
										<table data-sortable="" class="table" data-sortable-initialized="true">
										<thead>
											<tr>
												<th>شماره</th>
												<th>پرونده</th>
												<th>نوع پیگیری</th>
												<th>شرح</th>
											</tr>
										</thead>

										<tbody>
                                            {% for phone in file.phones.all %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td><strong>{{ phone.phone_number }}</strong></td>
                                                    <td>{{ phone.person_type }}</td>
                                                    <td>{{ phone.type }}</td>
                                                    <td>{{ phone.description }}</td>
                                                </tr>
                                            {% endfor %}
										</tbody>
									</table>
								</div>
							</div>
                </div>
                <div class="tab-pane fade" id="demo5-dropdown4">
                    <p style="text-align:justify">
                        <form class="form-horizontal" role="form" action="" method="post">
                          <div class="form-group">
                            <label for="input-text" class="col-sm-3 control-label">
                                {{ address_form.person_type.label }}
                            </label>
                            <div class="col-sm-10">
                                {{ address_form.person_type }}
                            </div>
                          </div>

                          <div class="form-group">
                            <label for="input-text" class="col-sm-3 control-label">
                                {{ address_form.type.label }}
                            </label>
                            <div class="col-sm-10">
                                {{ address_form.type }}
                            </div>
                          </div>

                          <div class="form-group">
                            <label for="input-text" class="col-sm-3 control-label">
                                {{ address_form.address.label }}
                            </label>
                            <div class="col-sm-10">
                                {{ address_form.address }}
                            </div>
                          </div>

                          <div class="form-group">
                            <label for="input-text" class="col-sm-3 control-label">
                                {{ address_form.description.label }}
                            </label>
                            <div class="col-sm-10">
                                {{ address_form.description }}
                            </div>
                          </div>

                            <div class="col-lg-12">
                                {% csrf_token %}
                                <input type="submit" value="ایجاد" class="btn btn-success">
                            </div>
                            <hr>
                        </form>
                    </p>
                    <div class="widget-content">
								<div class="table-responsive">
										<table data-sortable="" class="table" data-sortable-initialized="true">
										<thead>
											<tr>
												<th>شماره</th>
												<th>پرونده</th>
												<th>نوع پیگیری</th>
												<th>شرح</th>
											</tr>
										</thead>

										<tbody>
                                            {% for address in file.addresses.all %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td>{{ address.person_type }}</td>
                                                    <td>{{ address.type }}</td>
                                                    <td><strong>{{ address.address }}</strong></td>
                                                    <td>{{ address.description }}</td>
                                                </tr>
                                            {% endfor %}
										</tbody>
									</table>
								</div>
							</div>
                </div>
                <div class="tab-pane fade" id="demo5-dropdown5">
                    <p style="text-align:justify">
                        <form class="form-horizontal" role="form" action="" method="post">
                          <div class="form-group">
                            <label for="input-text" class="col-sm-3 control-label">
                                {{ document_form.type.label }}
                            </label>
                            <div class="col-sm-10">
                                {{ document_form.type }}
                            </div>
                          </div>

                          <div class="form-group">
                            <label for="input-text" class="col-sm-3 control-label">
                                {{ document_form.description.label }}
                            </label>
                            <div class="col-sm-10">
                                {{ document_form.description }}
                            </div>
                          </div>

                          <div class="form-group">
                            <label for="input-text" class="col-sm-3 control-label">
                                {{ document_form.image_upload.label }}
                            </label>
                            <div class="col-sm-10">
                                {{ document_form.image_upload }}
                            </div>
                          </div>

                            <div class="col-lg-12">
                                {% csrf_token %}
                                <input type="submit" value="ایجاد" class="btn btn-success">
                            </div>
                            <hr>
                        </form>
                    </p>
                    <div class="widget-content">
								<div class="table-responsive">
										<table data-sortable="" class="table" data-sortable-initialized="true">
										<thead>
											<tr>
												<th>شماره</th>
												<th>پرونده</th>
												<th>نوع پیگیری</th>
												<th>شرح</th>
											</tr>
										</thead>

										<tbody>
                                            {% for address in file.addresses.all %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td>{{ address.person_type }}</td>
                                                    <td>{{ address.type }}</td>
                                                    <td><strong>{{ address.address }}</strong></td>
                                                    <td>{{ address.description }}</td>
                                                </tr>
                                            {% endfor %}
										</tbody>
									</table>
								</div>
							</div>
                </div>
            </div> <!-- / .tab-content -->

        </div>
						</div>

{% endblock %}