{% extends 'bank/base.html' %}

{% block content %}
    <div>

    </div>
     {% if messages %}
<ul class="messages">
    {% for message in messages %}
{#    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>#}
         <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
</ul>
{% endif %}
    <div class="widget">
					<div class="widget-header transparent">
						<h2><strong>کاربر</strong></h2>
						<div class="additional-btn">
							<a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
							<a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
							<a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
						</div>
					</div>
					<div class="widget-content padding">
                        <div>{{ user.username }}</div>
                        <div>{{ user.email }}</div>
					</div>

				</div>
    <div class="widget">
        <div class="widget-header">
            <h2>جزییات</h2>
            <div class="additional-btn">
                <a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
                <a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                <a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
            </div>
        </div>
        <div class="widget-content padding">
            <ul id="demo5" class="nav nav-tabs nav-simple">
                <li class="active">
                    <a href="#demo5-home" data-toggle="tab">پروفایل کاربر</a>
                </li>
                <li class="">
                    <a href="#demo5-profile" data-toggle="tab">دسترسی نرم افزار</a>
                </li>
                <li class="">
                    <a href="#demo5-dropdown1" data-toggle="tab">دسترسی سرپرستی</a>
                </li>
                <li class="">
                    <a href="#demo5-dropdown2" data-toggle="tab">تغییر رمز کاربر</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade active in" id="demo5-home">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-horizontal" role="form" action="" method="post">
						  <div class="form-group">
							<label for="input-text" class="col-sm-2 control-label">
                                {{ profile_form.name.label }}
                            </label>
							<div class="col-sm-10">
                                {{ profile_form.name }}
							</div>
						  </div>

                          <div class="form-group">
							<label for="input-text" class="col-sm-2 control-label">{{ profile_form.father_name.label }}</label>
							<div class="col-sm-10">
                                {{ profile_form.father_name }}
							</div>
						  </div>
                          <div class="form-group">
							<label for="input-text" class="col-sm-2 control-label">{{ profile_form.national_code.label }}</label>
							<div class="col-sm-10">
                                {{ profile_form.national_code }}
							</div>
						  </div>
                          <div class="form-group">
							<label for="input-text" class="col-sm-2 control-label">
                                {{ profile_form.gender.label }}
                            </label>
							<div class="col-sm-10">
                                {{ profile_form.gender }}
							</div>
						  </div>
                          <div class="form-group">
							<label for="input-text" class="col-sm-2 control-label">
                                {{ profile_form.certificate.label }}
                            </label>
							<div class="col-sm-10">
                                {{ profile_form.certificate }}
							</div>
						  </div>
                          <div class="form-group">
							<label for="input-text" class="col-sm-2 control-label">
                                {{ profile_form.employee_post.label }}
                            </label>
							<div class="col-sm-10">
                                {{ profile_form.employee_post }}
							</div>
						  </div>
                          <div class="form-group">
							<label for="input-text" class="col-sm-2 control-label">
                                {{ profile_form.profile_image.label }}
                            </label>
							<div class="col-sm-10">
                                {{ profile_form.profile_image }}
							</div>
						  </div>
                            <div class="col-lg-12">
                                {% csrf_token %}
                                <input type="submit" value="ایجاد" class="btn btn-success">
                            </div>
                            <hr>
						</form>
                        </div>
                    </div>
                </div> <!-- / .tab-pane -->
                <div class="tab-pane fade" id="demo5-profile">
                   <div class="row">
					<div class="col-md-12">
						<div class="widget">
							<div class="widget-header transparent">
								<h2><strong>دسترسی ها</strong> </h2>
								<div class="additional-btn">
									<a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
									<a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
									<a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
								</div>
							</div>
							<div class="widget-content">
								<div class="table-responsive">
                                  <form class="form-horizontal" role="form" action="" method="post">
                                    <table data-sortable="" class="table" data-sortable-initialized="true">
										<thead>
											<tr>
												<th>ردیف</th>
												<th>دسترسی</th>
												<th>فعال</th>
												<th>ویرایش</th>
											</tr>
										</thead>

										<tbody>
                                            {% for permission in permissions %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td><strong>{{ permission.get_permission_type_display }}</strong></td>
                                                    <td>
                                                        {% if permission.enable %}
                                                            &#10004
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        <div class="btn-group btn-group-xs">
                                                            <a href="{% url "employee:edit_permission" permission.id %}" data-toggle="tooltip" title="مشاهده پرونده" class="btn btn-default"><i class="fa fa-edit"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
										</tbody>
									</table>
                                    <div class="col-lg-12">
                                      {% csrf_token %}
                                        <input type="submit" value="بروز رسانی" class="btn btn-success">
                                    </div>
                                    <hr>
                                  </form>
								</div>
							</div>
						</div>
					</div>
				</div>
                </div> <!-- / .tab-pane -->
                <div class="tab-pane fade" id="demo5-dropdown1">
                    <div class="row">
                        <div class="col-md-12">
            <div class="widget">
                <div class="widget-header transparent">
                    <div class="additional-btn">
                        <a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
                        <a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                        <a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
                    </div>
                </div>
                <div class="widget-content padding">
                    <form class="form-horizontal" role="form"  method="post">
							<label for="input-group">نام سرپرستی</label>
							<div class="input-group">
                                {{ form.area }}
                                <span class="input-group-btn">
                                  {% csrf_token %}
                                  <input class="btn btn-default" value="ایجاد" type="submit">
                              </span>
							</div>
                    </form>
                    <br>

                    <div class="table-responsive">
                        <table data-sortable="" class="table" data-sortable-initialized="true">
                            <thead>
                                <tr>
                                    <th>سرپرستی</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for area in areas %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td><strong>{{ area.area.name }}</strong></td>
                                        <td>
                                            <div class="btn-group btn-group-xs">
        {#                                                            <a data-toggle="tooltip" title="خاموش" class="btn btn-default"><i class="fa fa-power-off"></i></a>#}
                                                <a href="{% url "employee:delete_employee_permission" area.id %}" data-toggle="tooltip" title="حذف" class="btn btn-default">
                                                    <i class="fa fa-power-off"></i>
                                                </a>
        {#                                                            <a data-toggle="tooltip" title="" class="btn btn-default" data-original-title="حذف"><i class="fa fa-power-off"></i></a>#}
                                            </div>
                                        </td>

                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
								</div>

                </div>
            </div>

        </div>
                    </div>
                </div> <!-- / .tab-pane -->
                <div class="tab-pane fade" id="demo5-dropdown2">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-horizontal" role="form" action="" method="post">
                                  <div class="form-group">
                                    <label for="input-text" class="col-sm-2 control-label">
                                        {{ change_password_form.new_password.label }}
                                    </label>
                                    <div class="col-sm-10">
                                        {{ change_password_form.new_password }}
                                    </div>
                                  </div>

                                  <div class="form-group">
                                    <label for="input-text" class="col-sm-2 control-label">{{ change_password_form.repeat_new_password.label }}</label>
                                    <div class="col-sm-10">
                                        {{ change_password_form.repeat_new_password }}
                                    </div>
                                  </div>

                                    <div class="col-lg-12">
                                        {% csrf_token %}
                                        <input type="submit" value="تغییر رمز" class="btn btn-success">
                                    </div>
                                    <hr>
                                </form>
                        </div>
                    </div>
                </div>

            </div> <!-- / .tab-content -->

        </div>
						</div>


{% endblock %}