{% extends 'bank/base.html' %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{% url "main" %}">داشبورد</a> <span class="divider">/</span></li>
        <li><a href="#">پرونده</a> <span class="divider">/</span></li>
        <li class="active">اشخاص حقوقی</li>
    </ul>
{% endblock %}
{% block content %}
    <ul>
            <div class="row">
                <div class="col-md-12 portlets ui-sortable">
						<div class="widget">
							<div class="widget-header">
								<h2>جستجو</h2>
								<div class="additional-btn">
									<a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
									<a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
									<a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
								</div>
							</div>
							<div class="widget-content padding" style="display: block;">
                                <p> نام شرکت را وارد نمایید.</p>
                                    <form method="post" action="#" class="navbar-form pull-right">
                                        <div class="input-group">
                                          <input class="form-control" type="text" id="searchBox"  name="q" placeholder="نام شرکت">
                                          <span class="input-group-btn">
{#                                            <button class="btn btn-default" type="button">جستجو</button>#}
                                              {% csrf_token %}
                                            <input type="submit" class="btn btn-default" value="جستجو" >
                                          </span>
                                        </div><!-- /input-group -->
                                    </form>
                                <br>
                                <br>
                                <br>
                                <br>
								<a href="{% url "bank:new_person_office" %}" class="btn btn-success">شخص حقوقی جدید</a>
							</div>
						</div>
					</div>
            </div>
            <div class="row">
					<div class="col-md-12">
						<div class="widget">
							<div class="widget-header transparent">
								<h2><strong>فهرست شرکتها</strong> </h2>
								<div class="additional-btn">
									<a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
									<a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
									<a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
								</div>
							</div>
							<div class="widget-content">
								<div class="table-responsive">
									<table data-sortable="" class="table" data-sortable-initialized="true">
										<thead>
											<tr>
												<th>شماره</th>
												<th>نام شرکت</th>
												<th>شماره ثبت</th>
												<th>کد پستی</th>
												<th>شهر</th>
											</tr>
										</thead>

										<tbody>
                                            {% for ps_o in persons_office %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td><strong>{{ ps_o.name }}</strong></td>
                                                    <td>{{ ps_o.register_number }}</td>
                                                    <td>{{ ps_o.postal_code }}</td>
                                                    <td>{{ ps_o.city }}</td>
                                                    <td>
                                                        <div class="btn-group btn-group-xs">
                                                            <a data-toggle="tooltip" title="خاموش" class="btn btn-default"><i class="fa fa-power-off"></i></a>
{#                                                            <a href="{% url "bank:edit_area" area.id %}" data-toggle="tooltip" title="ویرایش" class="btn btn-default"><i class="fa fa-edit"></i></a>#}
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
            <div class="row">
					<div class="col-md-12 portlets ui-sortable">
						<div class="widget">
							<div class="widget-header transparent">
								<h2><strong>نمودار</strong></h2>
								<div class="additional-btn">
									<a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
									<a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
									<a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
								</div>
							</div>
                            <div class="widget-content">
                            </div>
						</div>
					</div>
				</div>
    </ul>
{% endblock %}